

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0.1%;
     padding: 0.1%;
}     

/* ---- global style */


body {
    background-color: antiquewhite;
    margin: 1%;
    max-height: 100vh;
    padding: 0;
}

/* --------- Heading */

.heading {
    background-color: aqua;
    display: flex;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    z-index: 100;
}

.heading-content {
    width: 30%;
}

.heading-content>h1 {
    font-size: 6vw;
}

.game-area {
    background-color: rgb(193, 243, 13);
    min-height: 80%;
}

#score-area {
    width: 100%;   
    background-color: rgb(147, 126, 167);
    justify-content: space-between;
    text-align: center;
    padding: 5% 0;

}

.score {
    display: inline-block;
    width: 96%;
    margin: 1% 2%;
    font-size: 5vw;   
}

.identifier {
    background-color: #ecbaba;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: auto;
    height: 6%;

}

.chosen-cards-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #949494;
    padding: 2% 4%;
    height: 40%;
    
}


.chosen-cards {
    width: 50%;
    height: auto;
    padding: 0 4%;
    text-align: center;
}

.question-card {
    width: 100%;
    height: auto;
}

.chosen-cards>p {
    font-size: 5vw;
    font-weight: bold;
}

.interaction-text-area {
    width: 100%;
    
    background-color: rgb(54, 235, 54);
    margin: 1% 0;
    padding: 0 20%;
}

#interaction-text {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: bisque;
    font-size: 6vw; 
    padding: 5% 0;
    margin: 4% 0;
    
}

.button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    max-width: 32.4%;
    height: auto;
}

.btn-image {
    width: 100%;
    height: auto;
}

/*---footer---*/


.footer {
    text-align: center;
    font-size: 5vw;
    padding: 5% 0;
    background-color: #5c5c5c;
    color: azure;
    font-weight: bold;
    height: 10vh;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}