

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0.1%;
     padding: 0.1%;
}     

/* ---- global style */


body {
    background-color: antiquewhite;
    margin: 1%;
    max-height: 100vh;
    padding: 0;
}

/* --------- Heading */

.heading {
    background-color: aqua;
    display: flex;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
}

.heading-content {
    width: 30%;
}

.heading-content>h1 {
    font-size: 6vw;
}

#rules {
    background-color: brown;
    align-items: flex-end;
    float: right;
}


.game-area {
    background-color: aquamarine;
}

#score-area {
    width: 100%;   
    background-color: blueviolet;
    justify-content: space-between;
    text-align: center;

}

.score {
    display: inline-block;
    width: 96%;
    margin: 1% 2%;
    font-size: 4vw;
    
}

.chosen-cards-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    padding: 1% 4%;
}

.chosen-cards {
    width: 50%;
    height: auto;
    padding: 0 4%;
    text-align: center;
}

.question-card {
    width: 100%;
    height: auto;
}

.chosen-cards>p {
    font-size: 5vw;
    font-weight: bold;
}

.interaction-text-area {
    width: 100%;

    background-color: rgb(54, 235, 54);
    margin: 1% 0;
    padding: 0 20%;
}

.interaction-text {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: bisque;
    font-size: 6vw;

    
}


.button-div {
    display: flex;
    margin: .1rem 0;
    padding: 0 1%;

}


.button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    max-width: 20%;
    height: auto;
}

.btn-image {
    width: 100%;
    height: auto;
}


